.pagina-cadastro {
    color: white!important;
    height: 100dvh;
    background-color: #000000;
    background-image: url('/images/bg_cadastro.jpeg');
    background-size: cover;
    .inputText{
        font-weight: bold;
        letter-spacing: 1.1px;
    }
    .card-cadastro {
        background-color: rgba(54, 54, 54, 0.5); /* Fundo branco com 50% de transparência */
        backdrop-filter: blur(1px); /* Efeito de desfoque de 1px */
        border: 2px solid rgb(87, 87, 87); 
        padding: 20px;
        border-radius: 15px;
        -webkit-box-shadow: inset -2px -1px 119px -43px rgba(255,255,255,0.3);
        -moz-box-shadow: inset -2px -1px 119px -43px rgba(255,255,255,0.3);
        box-shadow: inset -2px -1px 119px -43px rgba(255,255,255,0.3);


        h2 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                box-shadow: none; 
            }
        }

        button {
            padding: 10px;
            background-color: #c07300;
            width: 100%;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: #e08700;
            }
        }
    }
}