.pagina-cadastro {
    color: white !important;
    height: 100dvh;
    background-color: #000000;
    background-image: url('/images/bg_cadastro.jpeg');
    background-size: cover;

    .inputText {
        font-weight: bold;
        letter-spacing: 1.1px;
    }

    .card-cadastro {

        max-width: 920px;
        background-color: rgba(10, 10, 10, 0.8);
        backdrop-filter: blur(1px);
        border: 2px solid rgb(87, 87, 87);
        -webkit-box-shadow: inset -2px -1px 119px -43px rgba(255, 255, 255, 0.3);
        -moz-box-shadow: inset -2px -1px 119px -43px rgba(255, 255, 255, 0.3);
        box-shadow: inset -2px -1px 119px -43px rgba(255, 255, 255, 0.3);


        h2 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                box-shadow: none;
            }
        }

        button {
            padding: 10px;
            background-color: #c07300;
            width: 100%;
            color: #fff;
            border: none;
            border-radius: 6px;
            cursor: pointer;

            &:hover {
                background-color: #e08700;
            }
        }
    }
}

.form-container {
    position: relative;
}

.black-block {
    width: 100%;
    /* Ajusta a largura para 50% */
    height: 100%;
    background-color: rgb(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 1;
    transition: all 0.4s ease-in-out;
    background-image: url('/images/barbearia/bg_cadastro.png');
    background-size: cover !important;
    background-position: 0% 0;
    background-repeat: no-repeat;
}

.right-block {
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
    background-position: 100% 0;
}

.switch-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    justify-content: center;
    margin: auto;
    height: 55px;
}

.switch-button .switch-outer {
    height: 100%;
    background: #252532;
    width: 115px;
    border-radius: 165px;
    -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    border: 1px solid #32303e;
    padding: 6px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.switch-button .switch-outer input[type="checkbox"] {
    opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.switch-button .switch-outer .button-toggle {
    height: 42px;
    width: 42px;
    background: -webkit-gradient(linear,
            left top,
            left bottom,
            from(#3b3a4e),
            to(#272733));
    background: -o-linear-gradient(#3b3a4e, #272733);
    background: linear-gradient(#3b3a4e, #272733);
    border-radius: 100%;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    position: relative;
    z-index: 2;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
    left: 0;
}

.switch-button .switch-outer input[type="checkbox"]:checked+.button .button-toggle {
    left: 58%;
}

.switch-button .switch-outer input[type="checkbox"]:checked+.button .button-indicator {
    -webkit-animation: indicator 1s forwards;
    animation: indicator 1s forwards;
}

.switch-button .switch-outer .button {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.switch-button .switch-outer .button-indicator {
    height: 25px;
    width: 25px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    border: 3px solid #ef565f;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 10px;
    position: relative;
}

@-webkit-keyframes indicator {
    30% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: 3px solid #60d480;
        left: -68%;
    }
}

@keyframes indicator {
    30% {
        opacity: 0;
    }

    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        border: 3px solid #60d480;
        left: -68%;
    }
}

.button-green {
    button {
        --green: #1BFD9C;
        color: #1BFD9C !important;
        font-size: 15px;
        padding: 0.7em 2.7em;
        letter-spacing: 0.06em;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: white;
        letter-spacing: 1px;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 1px solid #1BFD9C !important;
        background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%, transparent 60%, rgba(27, 253, 156, 0.1) 100%) !important;
        color: var(--green);
        box-shadow: inset 0 0 1px rgba(27, 253, 156, 1), 0 0 3px 3px rgba(27, 253, 156, 0.4);
    }

    button:hover {
        color: #82ffc9;
        box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
    }

    button:before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
    }

    button:hover:before {
        transform: translateX(15em);
    }
}

.button-red {
    button {
        --green: #fd1b1b;
        color: #fd1b1b !important;
        font-size: 15px;
        min-width: 130px;
        padding: 0.7em 2.7em;
        letter-spacing: 0.06em;
        position: relative;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        color: white;
        letter-spacing: 1px;
        border-radius: 0.6em;
        overflow: hidden;
        transition: all 0.3s;
        line-height: 1.4em;
        border: 2px solid rgb(253, 27, 27) !important;
        background-color: rgb(0, 0, 0, 0.5) !important;
        color: var(--green);
        box-shadow: inset 0 0 1px rgb(253, 27, 27), 0 0 3px 3px rgba(255, 5, 5, 0.4);
    }

    button:hover {
        color: #82ffc9;
        box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.6), 0 0 9px 3px rgba(253, 27, 27, 0.2);
    }

    button:before {
        content: "";
        position: absolute;
        left: -4em;
        width: 4em;
        height: 100%;
        top: 0;
        transition: transform .4s ease-in-out;
        background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%, rgba(27, 253, 156, 0.1) 60%, transparent 100%);
    }

    button:hover:before {
        transform: translateX(15em);
    }
}

.inputText {

    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;

}

.input {
    max-width: 190px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
  }
  
  .input:invalid {
    animation: justshake 0.3s forwards;
    color: red;
  }
  
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }
  .formInputs input{
    background-color: #f1f1f1;
    border-radius: 6px;
    border: 1px solid rgb(83, 83, 83);
    border-left: 5px solid rgb(83, 83, 83);
    &:hover{
      background-color: rgb(230, 253, 252);
      transition: all 0.3s;
    }
    &:focus,&:active{
        border-color: black;
    }
  }