
.rbc-button-link {
  width: 100%;
}
.rbc-event-content {
  font-size: 1rem;
}
.pagina-calendario {
  padding-top: 100px!important;
  min-height: 100dvh;
  width: 100vw;
  padding-bottom: 30px;
  background-image: url("/images/barbearia/bg_calendar.jpg");
  background-size: contain;

  .rbc-today {
    background: rgb(230,180,42);
    background: linear-gradient(0deg, rgb(98, 231, 72) 0%, rgb(199, 255, 185) 90%);
  }
  .rbc-day-bg {
    background: rgb(230,180,42);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(208, 218, 255) 90%);
    border-radius: 5px;
  }
  .rbc-date-cell {
    padding: 2px;
  }
  .columnheader {
   
    font-family: 'Roboto', sans-serif; /* Exemplo: alterar a fonte */
    font-size: 14px; /* Exemplo: alterar o tamanho da fonte */
    color: #333; /* Exemplo: alterar a cor do texto */
    background-color: #333!important; /* Exemplo: alterar a cor de fundo */
    text-transform: capitalize; /* Exemplo: transformar o texto para capitalizado */
  }
  .rbc-button-link {
    border-radius: 3px;
    color: rgb(48, 48, 48);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: 2px solid rgb(61, 145, 255);
    background-color: rgb(191, 219, 255);
  }
  .rbc-off-range .rbc-button-link {
    border-bottom: 0;
    background-color: #eaeaea;
    pointer-events: none;


  }
  .rbc-time-header .rbc-button-link {
    color: rgb(48, 48, 48);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    border-bottom: none;
    background-color: white;
  }
  .rbc-btn-group button {
    background-color: rgb(230, 241, 255);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    border: 1px solid rgb(116, 116, 116);
  }
  .rbc-active {
    background-color: rgb(178, 212, 255)!important;
    border: 1px solid rgb(116, 116, 116);
  }
  .rbc-off-range-bg {
    background: rgb(219, 219, 219);
background: linear-gradient(0deg, rgb(210, 210, 210) 0%, rgb(245, 245, 245) 90%);
  }
}
.rbc-header span {
  /* Oculta o conteúdo original */
  visibility: hidden;
  position: relative;
}
.rbc-header:nth-child(1) span::before {
  content: 'Dom';
}

.rbc-header:nth-child(2) span::before {
  content: 'Seg';
}

.rbc-header:nth-child(3) span::before {
  content: 'Ter';
}

.rbc-header:nth-child(4) span::before {
  content: 'Qua';
}

.rbc-header:nth-child(5) span::before {
  content: 'Qui';
}

.rbc-header:nth-child(6) span::before {
  content: 'Sex';
}

.rbc-header:nth-child(7) span::before {
  content: 'Sáb';
}

.rbc-header span::before {
  visibility: visible;
  position: absolute;
}


.rbc-toolbar-label {
  visibility: hidden; /* Oculta o conteúdo original */
  position: relative; /* Necessário para posicionar o ::after */
}

.rbc-toolbar-label::after {
  content: attr(data-translated-month);
  visibility: visible; /* Garante que o conteúdo do ::after seja visível */
  position: absolute;
  right: 0;
  top: 0;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  width: 100%;
  letter-spacing: 1px;
  white-space: nowrap; 
}